a.loading, span.loading, button.loading, button.loading:hover, a.loading:hover, span.loading:hover {
  color: transparent !important;
  position: relative;
  pointer-events: none;
   }/*pointer-events: none;*/
  a.loading:after, span.loading:after, button.loading:after, a.loading:hover:after, span.loading:hover:after, button.loading:hover:after {
    content: '';
    position: absolute;
    width: 43px;
    height: 11px;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -23px;
    background-image: url("../img/ajax-loading.gif");
    z-index: 6;
    display: block;
    pointer-events: none; }
  a.loading:before, span.loading:before, button.loading:before, a.loading:hover:before, span.loading:hover:before, button.loading:hover:before {
    content: '';
    position: absolute;
    display: block;
    background-color: transparent;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 5;
    pointer-events: none; }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }
  .content-middel{
    text-align: center;
}
.password-lbl {
  -webkit-text-security: disc;
}
.password-lbl:hover{
  -webkit-text-security:none !important;
}
.popover-lbl{
  color: #0061f2;
  font-weight: bold;
}

table.dataTable thead,
table.dataTable tfoot {
  color: #0061f2;
}
table.dataTable .selected{
  background: #ccf5f7 !important;
  border-color: #b8f2f3 !important;
  color: #006c6f !important;
}
#parent_id option:disabled {
  color: #ccc;
  font-weight: bold;
}
.documents .image-part{
  display: inline-block;
}
.documents .image-part .img{
  border: solid 1px #ccc;
}
.documents .image-part a:hover{
  text-decoration: none!important;
}
.admin_checkbox{
  width: 20px; 
  height: 20px;
}