.header-home2 .menu-home2{
    left: -13px!important;
}

.shop-page .sidebar-left ul li .link-collection.active{
    color: #ee9051;
}

.content_loader{
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.6;
    z-index: 20;
    pointer-events: none;
}
label.error{
    display: block;
}

.custom_self_select{
    height: 60px;
    padding-left: 28px;
    font-size: 18px;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: unset;
    -webkit-appearance: none;
    appearance: none;
 }