@charset "UTF-8";



.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #69707a;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e0e5ec;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e0e5ec;
}
.table tbody + tbody {
  border-top: 2px solid #e0e5ec;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #e0e5ec;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #e0e5ec;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #69707a;
  background-color: rgba(224, 229, 236, 0.25);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8d3fb;
}
.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #7aadf8;
}

.table-hover .table-primary:hover {
  background-color: #a0c4fa;
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #a0c4fa;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d5b8ef;
}
.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #b17ae2;
}

.table-hover .table-secondary:hover {
  background-color: #c9a3ea;
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c9a3ea;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #b8e8d5;
}
.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #7ad4b1;
}

.table-hover .table-success:hover {
  background-color: #a5e2ca;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #a5e2ca;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #b8f2f3;
}
.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #7ae6e9;
}

.table-hover .table-info:hover {
  background-color: #a2eeef;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #a2eeef;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fce5b8;
}
.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #f9ce7a;
}

.table-hover .table-warning:hover {
  background-color: #fbdca0;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #fbdca0;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f9bdb8;
}
.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #f3857a;
}

.table-hover .table-danger:hover {
  background-color: #f7a7a0;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f7a7a0;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fbfcfe;
}
.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #f8fafd;
}

.table-hover .table-light:hover {
  background-color: #e7edf9;
}
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #e7edf9;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c1c3c6;
}
.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #8c8f94;
}

.table-hover .table-dark:hover {
  background-color: #b4b6ba;
}
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b4b6ba;
}

.table-black,
.table-black > th,
.table-black > td {
  background-color: #b8b8b8;
}
.table-black th,
.table-black td,
.table-black thead th,
.table-black tbody + tbody {
  border-color: #7a7a7a;
}

.table-hover .table-black:hover {
  background-color: #ababab;
}
.table-hover .table-black:hover > td,
.table-hover .table-black:hover > th {
  background-color: #ababab;
}

.table-white,
.table-white > th,
.table-white > td {
  background-color: white;
}
.table-white th,
.table-white td,
.table-white thead th,
.table-white tbody + tbody {
  border-color: white;
}

.table-hover .table-white:hover {
  background-color: #f2f2f2;
}
.table-hover .table-white:hover > td,
.table-hover .table-white:hover > th {
  background-color: #f2f2f2;
}

.table-red,
.table-red > th,
.table-red > td {
  background-color: #f9bdb8;
}
.table-red th,
.table-red td,
.table-red thead th,
.table-red tbody + tbody {
  border-color: #f3857a;
}

.table-hover .table-red:hover {
  background-color: #f7a7a0;
}
.table-hover .table-red:hover > td,
.table-hover .table-red:hover > th {
  background-color: #f7a7a0;
}

.table-orange,
.table-orange > th,
.table-orange > td {
  background-color: #fdd4b8;
}
.table-orange th,
.table-orange td,
.table-orange thead th,
.table-orange tbody + tbody {
  border-color: #fbae7a;
}

.table-hover .table-orange:hover {
  background-color: #fcc59f;
}
.table-hover .table-orange:hover > td,
.table-hover .table-orange:hover > th {
  background-color: #fcc59f;
}

.table-yellow,
.table-yellow > th,
.table-yellow > td {
  background-color: #fce5b8;
}
.table-yellow th,
.table-yellow td,
.table-yellow thead th,
.table-yellow tbody + tbody {
  border-color: #f9ce7a;
}

.table-hover .table-yellow:hover {
  background-color: #fbdca0;
}
.table-hover .table-yellow:hover > td,
.table-hover .table-yellow:hover > th {
  background-color: #fbdca0;
}

.table-green,
.table-green > th,
.table-green > td {
  background-color: #b8e8d5;
}
.table-green th,
.table-green td,
.table-green thead th,
.table-green tbody + tbody {
  border-color: #7ad4b1;
}

.table-hover .table-green:hover {
  background-color: #a5e2ca;
}
.table-hover .table-green:hover > td,
.table-hover .table-green:hover > th {
  background-color: #a5e2ca;
}

.table-teal,
.table-teal > th,
.table-teal > td {
  background-color: #b8ece1;
}
.table-teal th,
.table-teal td,
.table-teal thead th,
.table-teal tbody + tbody {
  border-color: #7adbc7;
}

.table-hover .table-teal:hover {
  background-color: #a4e7d9;
}
.table-hover .table-teal:hover > td,
.table-hover .table-teal:hover > th {
  background-color: #a4e7d9;
}

.table-cyan,
.table-cyan > th,
.table-cyan > td {
  background-color: #b8f2f3;
}
.table-cyan th,
.table-cyan td,
.table-cyan thead th,
.table-cyan tbody + tbody {
  border-color: #7ae6e9;
}

.table-hover .table-cyan:hover {
  background-color: #a2eeef;
}
.table-hover .table-cyan:hover > td,
.table-hover .table-cyan:hover > th {
  background-color: #a2eeef;
}

.table-blue,
.table-blue > th,
.table-blue > td {
  background-color: #b8d3fb;
}
.table-blue th,
.table-blue td,
.table-blue thead th,
.table-blue tbody + tbody {
  border-color: #7aadf8;
}

.table-hover .table-blue:hover {
  background-color: #a0c4fa;
}
.table-hover .table-blue:hover > td,
.table-hover .table-blue:hover > th {
  background-color: #a0c4fa;
}

.table-indigo,
.table-indigo > th,
.table-indigo > td {
  background-color: #d0b8f9;
}
.table-indigo th,
.table-indigo td,
.table-indigo thead th,
.table-indigo tbody + tbody {
  border-color: #a87af3;
}

.table-hover .table-indigo:hover {
  background-color: #c0a0f7;
}
.table-hover .table-indigo:hover > td,
.table-hover .table-indigo:hover > th {
  background-color: #c0a0f7;
}

.table-purple,
.table-purple > th,
.table-purple > td {
  background-color: #d5b8ef;
}
.table-purple th,
.table-purple td,
.table-purple thead th,
.table-purple tbody + tbody {
  border-color: #b17ae2;
}

.table-hover .table-purple:hover {
  background-color: #c9a3ea;
}
.table-hover .table-purple:hover > td,
.table-hover .table-purple:hover > th {
  background-color: #c9a3ea;
}

.table-pink,
.table-pink > th,
.table-pink > td {
  background-color: #f7b8d1;
}
.table-pink th,
.table-pink td,
.table-pink thead th,
.table-pink tbody + tbody {
  border-color: #f07aa9;
}

.table-hover .table-pink:hover {
  background-color: #f4a1c2;
}
.table-hover .table-pink:hover > td,
.table-hover .table-pink:hover > th {
  background-color: #f4a1c2;
}

.table-red-soft,
.table-red-soft > th,
.table-red-soft > td {
  background-color: #fbf6f7;
}
.table-red-soft th,
.table-red-soft td,
.table-red-soft thead th,
.table-red-soft tbody + tbody {
  border-color: #f8eff0;
}

.table-hover .table-red-soft:hover {
  background-color: #f3e4e7;
}
.table-hover .table-red-soft:hover > td,
.table-hover .table-red-soft:hover > th {
  background-color: #f3e4e7;
}

.table-orange-soft,
.table-orange-soft > th,
.table-orange-soft > td {
  background-color: #fcf8f7;
}
.table-orange-soft th,
.table-orange-soft td,
.table-orange-soft thead th,
.table-orange-soft tbody + tbody {
  border-color: #f9f3f0;
}

.table-hover .table-orange-soft:hover {
  background-color: #f5e8e4;
}
.table-hover .table-orange-soft:hover > td,
.table-hover .table-orange-soft:hover > th {
  background-color: #f5e8e4;
}

.table-yellow-soft,
.table-yellow-soft > th,
.table-yellow-soft > td {
  background-color: #fbfaf7;
}
.table-yellow-soft th,
.table-yellow-soft td,
.table-yellow-soft thead th,
.table-yellow-soft tbody + tbody {
  border-color: #f8f6f0;
}

.table-hover .table-yellow-soft:hover {
  background-color: #f3efe6;
}
.table-hover .table-yellow-soft:hover > td,
.table-hover .table-yellow-soft:hover > th {
  background-color: #f3efe6;
}

.table-green-soft,
.table-green-soft > th,
.table-green-soft > td {
  background-color: #f5fbfa;
}
.table-green-soft th,
.table-green-soft td,
.table-green-soft thead th,
.table-green-soft tbody + tbody {
  border-color: #ecf7f6;
}

.table-hover .table-green-soft:hover {
  background-color: #e3f4f1;
}
.table-hover .table-green-soft:hover > td,
.table-hover .table-green-soft:hover > th {
  background-color: #e3f4f1;
}

.table-teal-soft,
.table-teal-soft > th,
.table-teal-soft > td {
  background-color: #f5fbfb;
}
.table-teal-soft th,
.table-teal-soft td,
.table-teal-soft thead th,
.table-teal-soft tbody + tbody {
  border-color: #ecf7f8;
}

.table-hover .table-teal-soft:hover {
  background-color: #e3f4f4;
}
.table-hover .table-teal-soft:hover > td,
.table-hover .table-teal-soft:hover > th {
  background-color: #e3f4f4;
}

.table-cyan-soft,
.table-cyan-soft > th,
.table-cyan-soft > td {
  background-color: #f5fbfd;
}
.table-cyan-soft th,
.table-cyan-soft td,
.table-cyan-soft thead th,
.table-cyan-soft tbody + tbody {
  border-color: #ecf8fb;
}

.table-hover .table-cyan-soft:hover {
  background-color: #e0f3f9;
}
.table-hover .table-cyan-soft:hover > td,
.table-hover .table-cyan-soft:hover > th {
  background-color: #e0f3f9;
}

.table-blue-soft,
.table-blue-soft > th,
.table-blue-soft > td {
  background-color: #f5f8fe;
}
.table-blue-soft th,
.table-blue-soft td,
.table-blue-soft thead th,
.table-blue-soft tbody + tbody {
  border-color: #ecf3fd;
}

.table-hover .table-blue-soft:hover {
  background-color: #dee8fc;
}
.table-hover .table-blue-soft:hover > td,
.table-hover .table-blue-soft:hover > th {
  background-color: #dee8fc;
}

.table-indigo-soft,
.table-indigo-soft > th,
.table-indigo-soft > td {
  background-color: #f7f5fe;
}
.table-indigo-soft th,
.table-indigo-soft td,
.table-indigo-soft thead th,
.table-indigo-soft tbody + tbody {
  border-color: #f0edfc;
}

.table-hover .table-indigo-soft:hover {
  background-color: #e4defc;
}
.table-hover .table-indigo-soft:hover > td,
.table-hover .table-indigo-soft:hover > th {
  background-color: #e4defc;
}

.table-purple-soft,
.table-purple-soft > th,
.table-purple-soft > td {
  background-color: #f7f5fd;
}
.table-purple-soft th,
.table-purple-soft td,
.table-purple-soft thead th,
.table-purple-soft tbody + tbody {
  border-color: #f1edfb;
}

.table-hover .table-purple-soft:hover {
  background-color: #e6e0f9;
}
.table-hover .table-purple-soft:hover > td,
.table-hover .table-purple-soft:hover > th {
  background-color: #e6e0f9;
}

.table-pink-soft,
.table-pink-soft > th,
.table-pink-soft > td {
  background-color: #fbf5fa;
}
.table-pink-soft th,
.table-pink-soft td,
.table-pink-soft thead th,
.table-pink-soft tbody + tbody {
  border-color: #f8edf5;
}

.table-hover .table-pink-soft:hover {
  background-color: #f4e3f1;
}
.table-hover .table-pink-soft:hover > td,
.table-hover .table-pink-soft:hover > th {
  background-color: #f4e3f1;
}

.table-primary-soft,
.table-primary-soft > th,
.table-primary-soft > td {
  background-color: #f5f8fe;
}
.table-primary-soft th,
.table-primary-soft td,
.table-primary-soft thead th,
.table-primary-soft tbody + tbody {
  border-color: #ecf3fd;
}

.table-hover .table-primary-soft:hover {
  background-color: #dee8fc;
}
.table-hover .table-primary-soft:hover > td,
.table-hover .table-primary-soft:hover > th {
  background-color: #dee8fc;
}

.table-secondary-soft,
.table-secondary-soft > th,
.table-secondary-soft > td {
  background-color: #f7f5fd;
}
.table-secondary-soft th,
.table-secondary-soft td,
.table-secondary-soft thead th,
.table-secondary-soft tbody + tbody {
  border-color: #f1edfb;
}

.table-hover .table-secondary-soft:hover {
  background-color: #e6e0f9;
}
.table-hover .table-secondary-soft:hover > td,
.table-hover .table-secondary-soft:hover > th {
  background-color: #e6e0f9;
}

.table-success-soft,
.table-success-soft > th,
.table-success-soft > td {
  background-color: #f5fbfa;
}
.table-success-soft th,
.table-success-soft td,
.table-success-soft thead th,
.table-success-soft tbody + tbody {
  border-color: #ecf7f6;
}

.table-hover .table-success-soft:hover {
  background-color: #e3f4f1;
}
.table-hover .table-success-soft:hover > td,
.table-hover .table-success-soft:hover > th {
  background-color: #e3f4f1;
}

.table-info-soft,
.table-info-soft > th,
.table-info-soft > td {
  background-color: #f5fbfd;
}
.table-info-soft th,
.table-info-soft td,
.table-info-soft thead th,
.table-info-soft tbody + tbody {
  border-color: #ecf8fb;
}

.table-hover .table-info-soft:hover {
  background-color: #e0f3f9;
}
.table-hover .table-info-soft:hover > td,
.table-hover .table-info-soft:hover > th {
  background-color: #e0f3f9;
}

.table-warning-soft,
.table-warning-soft > th,
.table-warning-soft > td {
  background-color: #fbfaf7;
}
.table-warning-soft th,
.table-warning-soft td,
.table-warning-soft thead th,
.table-warning-soft tbody + tbody {
  border-color: #f8f6f0;
}

.table-hover .table-warning-soft:hover {
  background-color: #f3efe6;
}
.table-hover .table-warning-soft:hover > td,
.table-hover .table-warning-soft:hover > th {
  background-color: #f3efe6;
}

.table-danger-soft,
.table-danger-soft > th,
.table-danger-soft > td {
  background-color: #fbf6f7;
}
.table-danger-soft th,
.table-danger-soft td,
.table-danger-soft thead th,
.table-danger-soft tbody + tbody {
  border-color: #f8eff0;
}

.table-hover .table-danger-soft:hover {
  background-color: #f3e4e7;
}
.table-hover .table-danger-soft:hover > td,
.table-hover .table-danger-soft:hover > th {
  background-color: #f3e4e7;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(224, 229, 236, 0.25);
}

.table-hover .table-active:hover {
  background-color: rgba(208, 216, 226, 0.25);
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(208, 216, 226, 0.25);
}

.table .thead-dark th {
  color: rgba(255, 255, 255, 0.65);
  background-color: #363d47;
  border-color: #47505d;
}
.table .thead-light th {
  color: #4a515b;
  background-color: #e0e5ec;
  border-color: #e0e5ec;
}

.table-dark {
  color: rgba(255, 255, 255, 0.65);
  background-color: #363d47;
}
.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #47505d;
}
.table-dark.table-bordered {
  border: 0;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}
.table-dark.table-hover tbody tr:hover {
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1499.98px) {
  .table-responsive-xxl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xxl > .table-bordered {
    border: 0;
  }
}
.table-responsive, .datatable {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered, .datatable > .table-bordered {
  border: 0;
}

.table-responsive, .datatable {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered, .datatable > .table-bordered {
  border: 0;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #fff;
  background-color: #4e0094;
}
a.badge-secondary:focus, a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(105, 0, 199, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #00ac69;
}
a.badge-success:hover, a.badge-success:focus {
  color: #fff;
  background-color: #00794a;
}
a.badge-success:focus, a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 172, 105, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #00cfd5;
}
a.badge-info:hover, a.badge-info:focus {
  color: #fff;
  background-color: #009da2;
}
a.badge-info:focus, a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 207, 213, 0.5);
}

.badge-warning {
  color: #fff;
  background-color: #f4a100;
}
a.badge-warning:hover, a.badge-warning:focus {
  color: #fff;
  background-color: #c17f00;
}
a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(244, 161, 0, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #e81500;
}
a.badge-danger:hover, a.badge-danger:focus {
  color: #fff;
  background-color: #b51000;
}
a.badge-danger:focus, a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(232, 21, 0, 0.5);
}

.badge-light {
  color: #212832;
  background-color: #f2f6fc;
}
a.badge-light:hover, a.badge-light:focus {
  color: #212832;
  background-color: #c9d9f2;
}
a.badge-light:focus, a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(242, 246, 252, 0.5);
}

.badge-dark {
  color: #fff;
  background-color: #212832;
}
a.badge-dark:hover, a.badge-dark:focus {
  color: #fff;
  background-color: #0d0f13;
}
a.badge-dark:focus, a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(33, 40, 50, 0.5);
}

.badge-black {
  color: #fff;
  background-color: #000;
}
a.badge-black:hover, a.badge-black:focus {
  color: #fff;
  background-color: black;
}
a.badge-black:focus, a.badge-black.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.badge-white {
  color: #212832;
  background-color: #fff;
}
a.badge-white:hover, a.badge-white:focus {
  color: #212832;
  background-color: #e6e6e6;



}




.popover-body {
  padding: 0.5rem 0.75rem;
  color: #69707a;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}



@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-md-fill {
    flex: 1 1 auto !important;
  }

  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .align-content-md-start {
    align-content: flex-start !important;
  }

  .align-content-md-end {
    align-content: flex-end !important;
  }

  .align-content-md-center {
    align-content: center !important;
  }

  .align-content-md-between {
    align-content: space-between !important;
  }

  .align-content-md-around {
    align-content: space-around !important;
  }

  .align-content-md-stretch {
    align-content: stretch !important;
  }

  .align-self-md-auto {
    align-self: auto !important;
  }

  .align-self-md-start {
    align-self: flex-start !important;
  }

  .align-self-md-end {
    align-self: flex-end !important;
  }

  .align-self-md-center {
    align-self: center !important;
  }

  .align-self-md-baseline {
    align-self: baseline !important;
  }

  .align-self-md-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-column {
    flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-lg-fill {
    flex: 1 1 auto !important;
  }

  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-lg-start {
    justify-content: flex-start !important;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }

  .justify-content-lg-center {
    justify-content: center !important;
  }

  .justify-content-lg-between {
    justify-content: space-between !important;
  }

  .justify-content-lg-around {
    justify-content: space-around !important;
  }

  .align-items-lg-start {
    align-items: flex-start !important;
  }

  .align-items-lg-end {
    align-items: flex-end !important;
  }

  .align-items-lg-center {
    align-items: center !important;
  }

  .align-items-lg-baseline {
    align-items: baseline !important;
  }

  .align-items-lg-stretch {
    align-items: stretch !important;
  }

  .align-content-lg-start {
    align-content: flex-start !important;
  }

  .align-content-lg-end {
    align-content: flex-end !important;
  }

  .align-content-lg-center {
    align-content: center !important;
  }

  .align-content-lg-between {
    align-content: space-between !important;
  }

  .align-content-lg-around {
    align-content: space-around !important;
  }

  .align-content-lg-stretch {
    align-content: stretch !important;
  }

  .align-self-lg-auto {
    align-self: auto !important;
  }

  .align-self-lg-start {
    align-self: flex-start !important;
  }

  .align-self-lg-end {
    align-self: flex-end !important;
  }

  .align-self-lg-center {
    align-self: center !important;
  }

  .align-self-lg-baseline {
    align-self: baseline !important;
  }

  .align-self-lg-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-column {
    flex-direction: column !important;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-xl-fill {
    flex: 1 1 auto !important;
  }

  .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-xl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }

  .justify-content-xl-between {
    justify-content: space-between !important;
  }

  .justify-content-xl-around {
    justify-content: space-around !important;
  }

  .align-items-xl-start {
    align-items: flex-start !important;
  }

  .align-items-xl-end {
    align-items: flex-end !important;
  }

  .align-items-xl-center {
    align-items: center !important;
  }

  .align-items-xl-baseline {
    align-items: baseline !important;
  }

  .align-items-xl-stretch {
    align-items: stretch !important;
  }

  .align-content-xl-start {
    align-content: flex-start !important;
  }

  .align-content-xl-end {
    align-content: flex-end !important;
  }

  .align-content-xl-center {
    align-content: center !important;
  }

  .align-content-xl-between {
    align-content: space-between !important;
  }

  .align-content-xl-around {
    align-content: space-around !important;
  }

  .align-content-xl-stretch {
    align-content: stretch !important;
  }

  .align-self-xl-auto {
    align-self: auto !important;
  }

  .align-self-xl-start {
    align-self: flex-start !important;
  }

  .align-self-xl-end {
    align-self: flex-end !important;
  }

  .align-self-xl-center {
    align-self: center !important;
  }

  .align-self-xl-baseline {
    align-self: baseline !important;
  }

  .align-self-xl-stretch {
    align-self: stretch !important;
  }
}
@media (min-width: 1500px) {
  .flex-xxl-row {
    flex-direction: row !important;
  }

  .flex-xxl-column {
    flex-direction: column !important;
  }

  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xxl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xxl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xxl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xxl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .flex-xxl-fill {
    flex: 1 1 auto !important;
  }

  .flex-xxl-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-xxl-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-xxl-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-xxl-shrink-1 {
    flex-shrink: 1 !important;
  }

  .justify-content-xxl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xxl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xxl-center {
    justify-content: center !important;
  }

  .justify-content-xxl-between {
    justify-content: space-between !important;
  }

  .justify-content-xxl-around {
    justify-content: space-around !important;
  }

  .align-items-xxl-start {
    align-items: flex-start !important;
  }

  .align-items-xxl-end {
    align-items: flex-end !important;
  }

  .align-items-xxl-center {
    align-items: center !important;
  }

  .align-items-xxl-baseline {
    align-items: baseline !important;
  }

  .align-items-xxl-stretch {
    align-items: stretch !important;
  }

  .align-content-xxl-start {
    align-content: flex-start !important;
  }

  .align-content-xxl-end {
    align-content: flex-end !important;
  }

  .align-content-xxl-center {
    align-content: center !important;
  }

  .align-content-xxl-between {
    align-content: space-between !important;
  }

  .align-content-xxl-around {
    align-content: space-around !important;
  }

  .align-content-xxl-stretch {
    align-content: stretch !important;
  }

  .align-self-xxl-auto {
    align-self: auto !important;
  }

  .align-self-xxl-start {
    align-self: flex-start !important;
  }

  .align-self-xxl-end {
    align-self: flex-end !important;
  }

  .align-self-xxl-center {
    align-self: center !important;
  }

  .align-self-xxl-baseline {
    align-self: baseline !important;
  }

  .align-self-xxl-stretch {
    align-self: stretch !important;
  }
}
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }

  .float-sm-right {
    float: right !important;
  }

  .float-sm-none {
    float: none !important;
  }
}
@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }

  .float-md-right {
    float: right !important;
  }

  .float-md-none {
    float: none !important;
  }
}
@media (min-width: 992px) {
  .float-lg-left {
    float: left !important;
  }

  .float-lg-right {
    float: right !important;
  }

  .float-lg-none {
    float: none !important;
  }
}


.btn-icon.btn-link {
  text-decoration: none;
}

.btn .feather {
  margin-top: -1px;
  height: 0.875rem;
  width: 0.875rem;
}

.btn-lg .feather, .btn-group-lg > .btn .feather {
  height: 1rem;
  width: 1rem;
}

.btn-sm .feather, .btn-group-sm > .btn .feather {
  height: 0.75rem;
  width: 0.75rem;
}

.btn-xs .feather {
  height: 0.7rem;
  width: 0.7rem;
}

.btn-xl .feather {
  height: 1.125rem;
  width: 1.125rem;
}

.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.35rem;
  line-height: 1;
}

.btn-xl {
  padding: 1.25rem 1.5rem;
  font-size: 1.125rem;
  border-radius: 0.5rem;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
}
.btn-facebook:focus, .btn-facebook.focus {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}
.btn-facebook.disabled, .btn-facebook:disabled {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-facebook:not(:disabled):not(.disabled):active, .btn-facebook:not(:disabled):not(.disabled).active, .show > .btn-facebook.dropdown-toggle {
  color: #fff;
  background-color: #2d4373;
  border-color: #293e6a;
}
.btn-facebook:not(:disabled):not(.disabled):active:focus, .btn-facebook:not(:disabled):not(.disabled).active:focus, .show > .btn-facebook.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(88, 114, 167, 0.5);
}

.btn-github {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.btn-github:hover {
  color: #fff;
  background-color: #202020;
  border-color: #1a1a1a;
}
.btn-github:focus, .btn-github.focus {
  color: #fff;
  background-color: #202020;
  border-color: #1a1a1a;
  box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
}
.btn-github.disabled, .btn-github:disabled {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}
.btn-github:not(:disabled):not(.disabled):active, .btn-github:not(:disabled):not(.disabled).active, .show > .btn-github.dropdown-toggle {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #131313;
}
.btn-github:not(:disabled):not(.disabled):active:focus, .btn-github:not(:disabled):not(.disabled).active:focus, .show > .btn-github.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.5);
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #ea4335;
}
.btn-google:hover {
  color: #fff;
  background-color: #e12717;
  border-color: #d62516;
}
.btn-google:focus, .btn-google.focus {
  color: #fff;
  background-color: #e12717;
  border-color: #d62516;
  box-shadow: 0 0 0 0.2rem rgba(237, 95, 83, 0.5);
}
.btn-google.disabled, .btn-google:disabled {
  color: #fff;
  background-color: #ea4335;
  border-color: #ea4335;
}
.btn-google:not(:disabled):not(.disabled):active, .btn-google:not(:disabled):not(.disabled).active, .show > .btn-google.dropdown-toggle {
  color: #fff;
  background-color: #d62516;
  border-color: #ca2315;
}
.btn-google:not(:disabled):not(.disabled):active:focus, .btn-google:not(:disabled):not(.disabled).active:focus, .show > .btn-google.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 95, 83, 0.5);
}

.overlay-90:before {
  opacity: 0.9;
}

.btn-twitter {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}
.btn-twitter:hover {
  color: #fff;
  background-color: #0d8ddc;
  border-color: #0c85d0;
}

.btn-transparent-dark {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  color: rgba(33, 40, 50, 0.5) !important;
}
.btn-transparent-dark:hover {
  color: #fff;
  background-color: rgba(33, 40, 50, 0.1);
  border-color: transparent;
}
.btn-transparent-dark:focus, .btn-transparent-dark.focus {
  color: #fff;
  background-color: rgba(33, 40, 50, 0.1);
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
